### --- ESSENCIAIS DO PROJETO (Maven/Java) ---
target/
!.mvn/wrapper/maven-wrapper.jar
build/
*.class
*.log
*.jar
*.war

### --- IDEs (O que ninguém quer no Git) ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/
# VS Code, Eclipse e NetBeans
.vscode/
.classpath
.project
.settings/
.apt_generated
.factorypath
/nbproject/private/

### --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

### --- EXCEÇÕES (Arquivos da IDE que às vezes são úteis) ---
# Se você trabalha sozinho, pode ignorar tudo da pasta .idea/. 
# Se trabalha em time, as linhas abaixo garantem que configurações 
# compartilhadas (como estilo de código) subam, mas lixo pessoal não.
!.idea/runConfigurations/
!.idea/codeStyles/

##---Arquivos utilizados para testar o sistema
## Qualquer arquivo com o nomes teste ou pasta escrita teste será ignorada
*teste*